$paddingButton: 5px;
@mixin buttonStyles {
	padding: $paddingButton;
	text-align: center;
	border: 1px solid black;
	width: 100px;
	&:hover {
		background-color: lightgreen;
		cursor: pointer;
	}
}

.mainPage {
	margin: 20px 100px;
}

.buttons {
	display: flex;
	justify-content: space-between;
}

.searchName {
	margin: 5px 0;
	width: 300px;
}

.loading {
	margin: 10px auto;
	text-align: center;
}
.listContainer {
	display: flex;
	flex-wrap: wrap;
}

.search {
	@include buttonStyles;
	border-radius: 100px;
}

.random {
	@include buttonStyles;
	border-radius: 5px;
}

.personElementDiv {
	display: flex;
	padding: 5px;
	border: solid 1px black;
	border-radius: 10px;
	margin: 20px 0;

	.personImage {
		text-align: center;
		margin: auto;
		width: 100px;
	}
	.text {
		max-width: 60%;
		text-align: left;
	}
	.arrow {
		text-align: right;
		margin: auto;
		margin-right: 20px;
		font-size: 105px;
	}
}
