.beerElementDiv {
	display: flex;
	width: 40%;
	padding: 5px;
	border: solid 4px rgb(221, 214, 214);
	border-radius: 10px;
	margin: 20px;

	.beerImage {
		text-align: center;
		margin: auto;
		width: 100px;
		img {
			height: 100px;
		}
	}
	.text {
		max-width: 60%;
		text-align: left;
	}
	.arrow {
		text-align: right;
		margin: auto;
		margin-right: 20px;
		font-size: 92px;
		color: silver;
	}
	.link {
		color: inherit;
	}
}
